<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schüler-Firma</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/img/favicon.png" />
  </head>
  <body>
    <h1>Admin-Panel</h1>
    <div class="menu">
      <a href="/admin/sell">🛒 Verkaufen</a>
      <a href="/admin/tables">📊 Tabellen anzeigen</a>
      <a href="/admin/new-produkt">➕ Neues Produkt</a>
      <a href="/admin/search-produkt">🔍 Produkt suchen</a>
      <a href="/admin/settings">⚙️ Einstellungen</a>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
