<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Apple Scheiß-->
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/img/favicon/favicon-16x16.png"
    />
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" />

    <title>Schüler-Firma</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />
  </head>
  <body class="center">
    <h1>Admin-Panel</h1>
    <div class="container center distance">
      <a href="/admin/sell">🛒 Verkaufen</a>
      <a href="/admin/tables">📊 Tabellen anzeigen</a>
      <a href="/admin/new-produkt">➕ Neues Produkt</a>
      <a href="/admin/search-produkt">🔍 Produkt suchen</a>
      <a href="/admin/settings">⚙️ Einstellungen</a>
      <a href="/admin/downloads">💾 Download DB</a>
      <a href="/logout">🚪Logout</a>
    </div>
  </body>
</html>
