<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Schüler-Firma</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />
  </head>
  <body>
    <h1>Downloads</h1>
    <img
      src="/static/img/back.png"
      alt="Back"
      class="back-button"
      onclick="window.history.back()"
    />
    <div class="menu">
      <a href="/api/database">Datenbank herunterladen</a>
  </body>
</html>
