<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schüler-Firma</title>
    <link rel="stylesheet" href="/assets/sytle/style.css">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/img/favicon.png" />


</head>
<body>
    <h1>Admin-Panel</h1>
    <div class="menu">
        <a href="/assets/templates/sell.html">🛒 Verkaufen</a>
        <a href="/assets/templates/tables.html">📊 Tabellen anzeigen</a>
        <a href="/assets/templates/new-produkt.html">➕ Neues Produkt</a>
        <a href="/assets/templates/search-produkt.html">🔍 Produkt suchen</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>