<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schüler-Firma</title>
    <link rel="stylesheet" href="/assets/sytle/style.css">
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/img/favicon.png" />
</head>
<body>
    <img src="/assets/img/back.png" alt="Back" class="back-button" onclick="window.history.back()">
    <h1>Produkt verschieben</h1>
</body>
</html>