<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Apple Scheiß-->
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/img/favicon/favicon-16x16.png"
    />
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" />

    <title>Schüler-Firma</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="icon" href="/static/img/favicon.png" type="image/png" />
  </head>
  <body>
    <div class="login-container">
      <h2>Admin Login</h2>
      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}
      <form method="post" action="/login">
        <input
          type="password"
          name="password"
          placeholder="Admin-Passwort"
          required
        />
        <br />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
